/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1, p, span {
  color: #333;
}

p, span {
  font-size: 14px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 0;
}

@media screen and (max-width: 760px) {
  .title {
    font-size: 24px;
    line-height: 1.3;
    max-width: 250px;
    margin: auto;
  }
}

.subTitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 60px;
}

@media screen and (max-width: 760px) {
  .subTitle {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.header {
  height: 80px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header img {
  height: 32px;
  padding-top: 23px;
}

.header_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header_list .header_item {
  list-style: none;
  font-size: 14px;
  color: #333;
  margin-left: 26px;
  padding-top: 31px;
}

.header_list .header_item a {
  text-decoration: none;
  position: relative;
}

.header_list .header_item a::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #04af50;
  border-radius: 8px;
  position: absolute;
  top: 18px;
  left: 44%;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header_list .header_item a:hover::before {
  opacity: 1;
}

.header_list .header_item span {
  font-size: 14px;
  color: #333;
}

@media screen and (max-width: 760px) {
  .header {
    height: 110px;
    display: block;
  }
  .header_list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header_list .header_item {
    padding-top: 27px;
    margin: 0 10px;
  }
  .header img {
    padding-top: 19px;
  }
}

.top {
  height: 440px;
  background: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  position: relative;
}

.top h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 4.2rem;
}

@media screen and (max-width: 760px) {
  .top {
    height: 310px;
    background-size: 200%;
  }
  .top h1 {
    font-size: 29px;
    width: 86%;
    height: 3.3rem;
  }
}

.about {
  background: #f2f2f2;
  text-align: center;
  padding: 25px 0 72px 0;
}

.about_text {
  padding: .5em;
  text-align: left;
  font-size: 20px;
  margin: auto;
  max-width: 600px;
  display: flex;
}

.about .line {
  display: inline-block;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #04af50), color-stop(90%, #04af50), color-stop(90%, transparent));
  background: -webkit-linear-gradient(transparent 70%, #04af50 70%, #04af50 90%, transparent 90%);
  background: -o-linear-gradient(transparent 70%, #04af50 70%, #04af50 90%, transparent 90%);
  background: linear-gradient(transparent 70%, #04af50 70%, #04af50 90%, transparent 90%);
  font-size: 18px;
  margin: 0 0 10px 0;
}

.about span {
  display: block;
  font-size: 16px;
}

@media screen and (max-width: 760px) {
  .about {
    padding: 25px 10% 72px;
  }
  .about .line {
    display: inline;
    line-height: 1.5;
  }
  .about span {
    font-size: 14px;
    margin-top: 33px;
    line-height: 1.5;
  }
}

.how {
  background: #fff;
  text-align: center;
  padding: 90px 0;
}

.how img {
  width: 95px;
  margin-bottom: 10px;
}

.how_text {
  font-size: 18px;
  margin-bottom: 47px;
}

.how_list {
  counter-reset: number;
  list-style-type: none;
  padding: .5em;
  text-align: left;
  font-size: 20px;
  margin: auto;
  max-width: 461px;
}

.how_list .how_item {
  position: relative;
  padding-left: 51px;
  margin: 10px 0;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.how_list .how_item::before {
  position: absolute;
  counter-increment: number;
  content: counter(number);
  display: inline-block;
  background: #04af50;
  color: #fff;
  border-radius: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media screen and (max-width: 760px) {
  .how {
    padding: 40px 10%;
  }
  .how_text {
    margin-bottom: 16px;
  }
  .how_list {
    font-size: 16px;
  }
}

.project {
  background: #f2f2f2;
  padding: 50px 0;
}

.project_title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 55px;
}

.project_list {
  border-bottom: solid 1px #04af50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  list-style: none;
  line-height: 1.3;
  margin: 30px auto;
  padding-bottom: 10px;
}

.project_list .project_item {
  font-size: 16px;
  width: 290px;
}

.project_list .project_item:nth-child(1) {
  font-weight: bold;
  width: 145px;
  margin-right: 40px;
}

@media screen and (max-width: 760px) {
  .project {
    padding: 50px 10%;
  }
  .project_title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .project_list {
    display: block;
    text-align: center;
  }
  .project_list .project_item {
    font-size: 14px;
    width: 290px;
  }
  .project_list .project_item:nth-child(1) {
    width: auto;
    margin: 10px 0 10px 0;
  }
}

.company {
  margin: 75px 25%;
}

.company_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 38px;
}

.company_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 30px 0;
}

.company_list .company_item {
  font-size: 16px;
  width: 380px;
  line-height: 1.3;
}

.company_list .company_item:nth-child(1) {
  width: 120px;
  font-weight: bold;
  text-align: right;
  margin-right: 170px;
  position: relative;
}

.company_list .company_item:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 115%;
  top: 6px;
  height: 1px;
  width: 140px;
  border-bottom: dashed 1px #888;
}

@media screen and (max-width: 760px) {
  .company {
    margin: 75px 10%;
  }
  .company_title {
    font-size: 22px;
    margin-bottom: 40px;
    text-align: center;
  }
  .company_list {
    display: block;
    margin: 20px 0;
  }
  .company_list .company_item {
    font-size: 14px;
    max-width: 300px;
  }
  .company_list .company_item:nth-child(1) {
    text-align: left;
    margin: 0 0 7px 0;
  }
  .company_list .company_item:nth-child(1)::after {
    content: "";
    display: none;
  }
}

.profile {
  margin-top: 60px;
}

.profile_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profile_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 38px;
}

.profile_image {
  margin-right: 43px;
}

.profile_image img {
  width: 150px;
}

.profile_text ul {
  margin-bottom: 16px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profile_text ul li {
  font-size: 14px;
  font-weight: bold;
}

.profile_text ul li:nth-child(1) {
  font-size: 16px;
  margin-right: 35px;
  position: relative;
}

.profile_text ul li:nth-child(1)::after {
  content: "";
  width: 14px;
  height: 14px;
  background: #04af50;
  border-radius: 14px;
  position: absolute;
  left: 80px;
}

.profile_text p {
  line-height: 1.5;
  letter-spacing: 1;
}

@media screen and (max-width: 760px) {
  .profile {
    margin: 60px 0;
  }
  .profile_title {
    font-size: 22px;
    margin-bottom: 40px;
    text-align: center;
  }
  .profile_image {
    text-align: center;
    margin: 0 0 30px 0;
  }
  .profile_box {
    display: block;
  }
  .profile_text ul {
    display: block;
    text-align: center;
  }
  .profile_text ul li:nth-child(1) {
    margin-right: 0;
  }
  .profile_text ul li:nth-child(1)::after {
    content: "";
    display: none;
  }
  .profile_text ul li:nth-child(2) {
    position: relative;
    margin: 10px 0 0 8px;
  }
  .profile_text ul li:nth-child(2)::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #04af50;
    border-radius: 14px;
    position: absolute;
    left: 32%;
  }
}

.access {
  background: #f2f2f2;
  padding: 40px 0;
}

.access_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
  margin: 32px 25%;
}

.access_company {
  font-size: 18px;
  font-weight: bold;
}

.access_box {
  margin: 32px 25%;
}

.access_list {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.access_list .access_item i {
  display: inline-block;
  margin-right: 21px;
  font-size: 22px;
  color: #04af50;
}

.access_list .access_item p, .access_list .access_item a {
  margin-top: 5px;
}

.access_list .access_item a {
  text-decoration: none;
  color: #333;
  border-bottom: solid 1px #333;
}

@media screen and (max-width: 760px) {
  .access_title {
    font-size: 22px;
    margin: 32px 10%;
  }
  .access_box {
    margin: 32px 10%;
  }
  .access_list .access_item p, .access_list .access_item a {
    line-height: 1.3;
  }
}

.footer {
  background: #333;
  text-align: center;
  padding: 36px;
}

.footer_text {
  font-size: 12px;
  color: #fff;
}
